@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/material-icons/material-icons.woff') format('woff');
}

a, button {
  outline: none;
   -webkit-appearance: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#preloader {
  text-align: center;
  width: 100%;
  margin: 200px 0 500px;
}

.title {
  font-weight: 700;
  margin: 0;
}

.author {
  font-size: 10px;
  margin: 2px 0;
}

.body {
  font-size: 13px;
}

.error {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 200px;
  text-align: center;
}

.custom-theme {
  background-color: #EF5350 !important;
  /*background-color: #ab47bc !important;*/
  /*background-color: #3949ab !important;*/
}

.notification-update {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.97);
  display: none;
}

.notification-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0;
  line-height: 1;
}

.notification-wrapper > .text-updates {
  flex-basis: 70%;
  color: #AAA;
  padding-left: 20px;
}

.notification-wrapper > .button-updates {
  flex-basis: 20%;
  text-align: right;
}

.button-updates button,
.button-updates button:focus,
.button-updates button:visited {
  color: #FFF;
  background: none;
  border: none;
}